@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

[type='checkbox']:checked,
[type='radio']:checked{
  background-position: -5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.loader-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.loader {
  width: 120px;
    height: 16px;
    border-radius: 20px;
    color: #67cf81;
    border: 2px solid;
    position: relative;
    margin-inline: auto;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 2s infinite;
}
@keyframes l6 {
    100% {inset:0}
}

.loadingData {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 125px);
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  gap: 15px;
}

.loadingData img{
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
